.role-container{
padding:30px;
width:100%;
/* max-width:700px; */
}
.page-title{
  font-size: 26px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e7eb;
}
.form-group{
margin-bottom:20px;
}

.form-group label{
display:block;
font-weight:600;
margin-bottom:8px;
}

input,select{
width:100%;
padding:10px;
border:1px solid #ddd;
border-radius:6px;
}

.multiselect{
border:1px solid #ddd;
border-radius:6px;
padding:10px;
display:flex;
flex-wrap:wrap;
gap:8px;
}

.option{
padding:6px 10px;
background:#f3f4f6;
border-radius:6px;
cursor:pointer;
}

.option.selected{
background:#1a4b8c;
color:white;
}

.toggle-box{
display:flex;
align-items:center;
gap:10px;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:30px;
}

.cancel{
padding:10px 20px;
border:1px solid #1a4b8c;
background:white;
color:#1a4b8c;
border-radius:6px;
}

.save{
padding:10px 20px;
background:#1a4b8c;
color:white;
border:none;
border-radius:6px;
}
.dropdown{
position:relative;
width:250px;
}

.dropdown-header{
border:1px solid #ccc;
padding:8px;
cursor:pointer;
background:#fff;
}

.dropdown-list{
position:absolute;
top:40px;
left:0;
right:0;
border:1px solid #ccc;
background:white;
z-index:10;
max-height:150px;
overflow-y:auto;
}

.dropdown-item{
display:flex;
gap:8px;
padding:6px;
cursor:pointer;
}

.dropdown-item:hover{
background:#f2f2f2;
}

.dropdown-item.selected{
background:#e3f2fd;
}
.expert-card{
    
    margin-bottom: 18px;

  display:flex;
  align-items:center;
  justify-content:space-between;
  width:420px;
  padding:14px 18px;
  background:#f4f6f8;
  border-radius:12px;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
  transition:0.2s;
}

.expert-card:hover{
  box-shadow:0 4px 14px rgba(0,0,0,0.12);
}

.expert-text{
  font-size:18px;
  /* font-weight:500; */
  color:#333;
}

/* Toggle Switch */
.switch{
  position:relative;
  display:inline-block;
  width:52px;
  height:28px;
}

.switch input{
  opacity:0;
  width:0;
  height:0;
}

.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#d1d5db;
  border-radius:30px;
  transition:.3s;
}

.slider:before{
  position:absolute;
  content:"";
  height:22px;
  width:22px;
  left:3px;
  bottom:3px;
  background:white;
  border-radius:50%;
  transition:.3s;
}

.switch input:checked + .slider{
  background:#22c55e;
}

.switch input:checked + .slider:before{
  transform:translateX(24px);
}