.fp-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f4f9;
}

.fp-wrapper {
  width: 1200px;
  height: 700px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

/* LEFT PANEL */

.fp-left {
  flex: 1;
  background: linear-gradient(135deg,#1e4f91,#2f6eb3);
  color: white;
  padding: 40px;
}

.brand {
  font-size: 36px;
  font-weight: bold;
}

.tag {
  color: #f2c94c;
  margin-bottom: 30px;
}

.campus-card {
  height: 200px;
  background: url("https://images.unsplash.com/photo-1596495578065-3e64b7d59b63") center/cover;
  border-radius: 15px;
  position: relative;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.feature {
  display: flex;
  gap: 15px;
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.circle {
  width: 40px;
  height: 40px;
  background: #f2c94c;
  border-radius: 50%;
}

/* RIGHT PANEL */

.fp-right {
  flex: 1;
  background: white;
  padding: 60px;
}

.fp-right h2 {
  color: #1e4f91;
}

.sub {
  margin-bottom: 30px;
  color: gray;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.method-box {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.method-card {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #eee;
  text-align: center;
  cursor: pointer;
}

.method-card.active {
  border-color: #f2c94c;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.icon.gold {
  background: #f2c94c;
}

.icon.blue {
  background: #1e4f91;
}

.reset-btn {
  width: 100%;
  padding: 14px;
  background: #1e4f91;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.back {
  margin-top: 20px;
  text-align: center;
}
.image-scroller {
  margin-top: 30px;
  margin-bottom: 30px;
}
